h2 {
    font-size: 2rem;
    text-align: center;
    color: black;
    margin-top: 0.5rem;
}
.form-control{
    display: flex;
    justify-content: center;
}
.text-input{
    flex-grow: 1;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}
.text-input:focus{
    outline: none;
}
.submit-btn{
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    font-weight: bold;
}